<div id="modal_about" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关于本站</h4>
            </div>
            <div class="modal-body">
                <p>
                    本站为凤城卫士APP的后台管理系统,你可以对用户信息,情报信息等内容进行查看,删除等操作.有任何问题请联系本站管理员<a href="mailto:rdmclin2@163.com?subject=凤城卫士%20管理问题">@CalvinMeng</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>