<!-- views/partials/head.ejs -->

<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-markdown.min.css' />

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/markdown.min.js"></script>
<script src="/javascripts/to-markdown.js"></script>
<script src="/javascripts/bootstrap-markdown.js"></script>
